* {
  box-sizing: border-box;
  padding: 0;
}

button[type=button] {
  cursor: pointer;
}

span.math {
  display: none;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: -moz-fit-content;
  height: fit-content;
}
span.math.loaded {
  display: block;
}

.log-container {
  margin-top: 0.5em;
  margin-bottom: 0.7em;
  margin-inline: 0.3em;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.log {
  font-size: inherit;
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0;
  border: 1px solid;
  height: -moz-fit-content;
  height: fit-content;
  word-wrap: break-word;
  word-break: normal;
  font-family: "Courier New", Courier, monospace;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  color: black;
  background-color: lightgrey;
}
.log.warn {
  color: sienna;
  background-color: burlywood;
}
.log.error {
  color: red;
  background-color: lighpink;
}

body {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
}

footer {
  margin-bottom: 0;
  margin-top: auto;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
footer > .credits, footer .authors {
  display: flex;
  justify-content: center;
}
footer > h3 {
  text-align: center;
  margin: 0;
}

nav {
  top: 0;
  position: fixed;
  position: sticky;
  z-index: 1000;
  width: 100%;
  margin: 0;
  padding: 0 15px;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  font-size: 2.5em;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: floralwhite;
}
nav > h4 {
  margin: 0;
}
nav > button[type=button] {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  border: none;
  border-radius: 0.15em;
}
nav > button[type=button] > i {
  font-size: 1.2em;
}

#stats {
  position: relative;
}
#stats > div {
  left: unset !important;
  position: unset !important;
  top: unset !important;
  z-index: unset !important;
}

.pop-up {
  position: absolute;
  z-index: 100;
  display: none;
  width: 90%;
  margin: 1em 5% auto 5%;
  height: -moz-fit-content;
  height: fit-content;
  color: black;
  background-color: white;
  grid-template-columns: 90% 10%;
  grid-template-rows: 1.5em auto;
  gap: 0;
  border: 1px solid;
}
.pop-up.show {
  display: grid;
}
.pop-up > :is(.equations, .form) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.pop-up > :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pop-up > button[type=button] {
  color: darkred;
  background-color: red;
  cursor: pointer;
}

.screen-container {
  width: min(100%, 1200px);
  margin-inline: auto;
  height: auto;
}
.screen-container.full-screen {
  aspect-ratio: 16/9;
}
.screen-container.half-screen {
  aspect-ratio: 3;
}
.screen-container > canvas {
  width: 100% !important;
  cursor: crosshair;
}

#d3-container > canvas {
  height: 100% !important;
  cursor: grab;
  border-inline: 1px solid black;
}
#d3-container > canvas:active {
  cursor: grabbing;
}

#d2-container {
  grid-template-columns: 2fr 1fr;
}

#size-view {
  cursor: none;
  aspect-ratio: 1 !important;
}

#top-view {
  cursor: grab;
  aspect-ratio: 2 !important;
}
#top-view.grabbing {
  cursor: grabbing;
  border: 1px dashed red;
}/*# sourceMappingURL=index.css.map */