* {
    box-sizing: border-box;
    padding: 0;
}
button[type=button] {
    cursor: pointer;
}
span {
    &.math {
        display: none;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        height: fit-content;
        &.loaded {
            display: block;
        }
    }
}
.log {
    font-size: inherit;
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0;
    border: 1px solid;
    height: fit-content;
    word-wrap: break-word;
    word-break: normal;
    font-family: 'Courier New', Courier, monospace;
    user-select: text;
    color: black;
    background-color: lightgrey;
    &.warn {
        color: sienna;
        background-color: burlywood;
    }
    &.error {
        color: red;
        background-color: lighpink;
    }
}
body {
    width: 100%;
    height:fit-content;
    min-height: 100vh;
    scroll-behavior: smooth;
    margin: 0;
}
footer {
    margin-bottom: 0;
    margin-top: auto;
    height: fit-content;
    overflow: hidden;
    & > .credits, .authors {
        display: flex;
        justify-content: center;
    }
    & > h3 {
        text-align: center;
        margin: 0;
    }
}
nav {
    width: calc(100% - 30px);
    margin: 0 15px;
    height: fit-content;
    overflow: hidden;
    font-size: 2.5em;
    display: flex;
    justify-content: space-between;
    user-select: none;

    & > h4 {
        margin: 0;
    }
    & > button[type=button] {
        font-size: larger;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
        aspect-ratio: 1;
        border: none;
        border-radius: .15em;
        & > i {
            font-size: 1.2em;
        }
        /*
        &:hover {
            color: 
        }
        */
    }
}
.pop-up {
    position: absolute;
    z-index: 100;
    display: none;
    width: 90%;
    margin: 1em 5% auto 5%;
    height: fit-content;
    color: black;
    background-color: white;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1.5em auto;
    gap: 0;

    &.show {
        display: grid;
    }

    & > .equations {
        grid-row-start: 2;
        grid-column-start: 1;

        grid-row-end: 3;
        grid-column-end: 3;
    }
}
.screen-container {
    width: 100%;
    height: auto;

    &.full-screen {
        aspect-ratio: 16 / 9;
    }
    &.half-screen {
        aspect-ratio: 3;
    }
    margin: 0;
    border: 1px solid red;

    & > canvas {
        width: 100% !important;
        border: 1px solid green;
        cursor: crosshair;
    }
}
#d3-container {
    & > canvas {
        height: 100% !important;
    }
}
#d2-container {
    grid-template-columns: 2fr 1fr;
}
#size-view {
    cursor: none;
    aspect-ratio: 1 !important;
}
#top-view {
    cursor: grab;
    aspect-ratio: 2 !important;
}
@media screen and (min-aspect-ratio: 16 / 9) {
    .screen-container {
        width: auto;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}