.grid {
    display: grid;
    gap: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;

    &.two {
        grid-template-columns: repeat(2, 1fr);
    }
    &.three {
        grid-template-columns: repeat(3, 1fr);
    }
    &.four {
        grid-template-columns: repeat(4, 1fr);
    }
    &.five {
        grid-template-columns: repeat(5, 1fr);
    }
}