.grid {
    display: grid;
    gap: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;

    &.two {
        grid-template-columns: repeat(2, 1fr);
    }
    &.three {
        grid-template-columns: repeat(3, 1fr);
    }
    &.four {
        grid-template-columns: repeat(4, 1fr);
    }
    &.five {
        grid-template-columns: repeat(5, 1fr);
    }

    & > .span-2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    & > .span-3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    & > .span-4 {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}
label {
    user-select: none;
}
.form {
    width: 100%;
    margin-top: 1em;
    input {
        height: 1.1em;
        padding: .05em .3em;
        user-select: none;
    }
    .show-if-checked {
        height: 0 !important;
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        transition: height ease-in-out .4s;
        & > :is(h1, h2, h3, h4, h5, h6) {
            user-select: none;
            text-align: center;
            margin: 0;
        }
    }
    input[type=checkbox]:checked + .show-if-checked {
        height: fit-content !important;
        padding: .3em;
        border: 1px solid;
    }
}