.grid {
    display: grid;
    gap: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;

    &.two {
        grid-template-columns: repeat(2, 1fr);
    }
    &.three {
        grid-template-columns: repeat(3, 1fr);
    }
    &.four {
        grid-template-columns: repeat(4, 1fr);
    }
    &.five {
        grid-template-columns: repeat(5, 1fr);
    }

    & > .span-2 {
        column-span: 2;
    }
    & > .span-3 {
        column-span: 3;
    }
    & > .span-4 {
        column-span: 4;
    }
}
label {
    user-select: none;
}
.form {
    input {
        height: 1.1em;
        padding: .05em .3em;
        user-select: none;
    }
    .show-if-checked {
        height: 0 !important;
        width: 100%;
        padding: .3em;
    }
    input[type=checkbox]:checked + .show-if-checked {
        height: fit-content !important;
    }
}